<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>accountCreate</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
</head>




<body>

  <div class="mainConnectionDiv">
    <a href="/accueil1/index.html">
      <img class="connectionLogo" src="images/logo1.png" alt="Logo Flabbergaster"></img>
    </a>

    <p class="nunito mainConnectionText">Créer compte</p>

    <form class="mainConnectionDiv" action="#" method="post">

      <input class="mainConnectionChamptexte mainConnectionwritingText" type="text" placeholder="Pseudo ou adresse e-mail">

      <div class="mainConnectionPassword">
        <input class="mainConnectionChamptextePassword mainConnectionwritingText" type="password" placeholder="Mot de passe">
      </div>

      <div class="mainConnectionPassword">
        <input class="mainConnectionChamptextePassword mainConnectionwritingText" type="password" placeholder="Confirmation du MDP">
      </div>

      <div class="checkboxPassword"> 
        <input class="checkboxPasswordInput" type="checkbox" id="passwordCheckbox1">
        <label class="mainConnectionText" for="passwordCheckbox1">Se souvenir de moi</label>
      </div>
      
      <button type="submit" class="connectionButton">
        <p class="nunito connectionButtonText">S'inscrire</p>
      </button>

    </form>

    <a href="../accountConnection/index.php">
      <p class="nunito createaccountText">Connexion</p>
    </a>

  </div>

  

  <div class="background"></div>

  

  
  
</body>
</html>