.nunito {
	color: #FFF;
	font-family: Nunito;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(183deg, rgba(55, 37, 72, 0.95) -5.36%, #000 108.29%);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100vw;
}

.accountInformationMainText {
	color: #FFF;
	font-family: Nunito;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin: 0px;
	margin-top: 5vh;
	margin-bottom: 5vh;
	margin-left: 5vw;
}

.accountIcon {
	width: 15vw;
	height: 15vw;
	margin: 5vw;
}

.accountInformationMainDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 5vw;
}

.BlockLine {
	width: 95%;
	height: 2px;
	display: block;
}

.accountParameterBlockTitle {
	color: #FFF;
	font-family: Nunito;
	font-size: 20px;
	font-style: italic;
	font-weight: 700;
	line-height: normal;
	margin: 0px;
	margin-top: 3vh;
	margin-bottom: 2vh;
}

.accountParameterBlockText {
	color: #FFF;
	font-family: Nunito;
	font-size: 25px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	margin: 0px;
	margin-bottom: 3vh;
}

.accountParameter {
	width: 100%;
}

.arrowDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 8vh;
	background-color: lightgray;
}

.accountParameterBlock {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.arrowRight {
	width: 2vw;
	height: 2vw;
	padding-right: 5vw;
}

/* Responsive */
