/* Debut des paramètre de la Galerie */

.contentTable {
	display: flex;
	flex-direction: column;
	padding-left: 5vw;
	height: 100%;
	gap: 1.8vh;
	margin-top: 3.4vh;
}

/* Paramètre de fonte et de police de caractère des titres de la page. Ici les titres sont série, films ... */
.categoryTitle {
	color: #FFF;
	font-family: Nunito, sans-serif;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin: 0;
}



/* Div principale de la galerie. C'est le nom de la ligne ou on peut faire defiler les miniaures en cliquant sur la flèche. */
.galerie {
	overflow: hidden;
	margin: 0;
	position: relative;
	width: 95vw;

}

.galerieContent {
	display: flex;
	transition: transform 0.5s ease-in-out;
	gap: 5vw;
}

/* Paramètre des affiches des films et séries */
.thumbnailGalerie {
	object-fit: cover;
    object-position: center;
	border-radius: 15px;
	border: 1px solid #171717;
	flex-shrink: 0;

	width: 18.75vw;
	height: 10vw;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

/* Flèche de selection permettant de faire defiler les affiches */
.selectionArrow {
	width: 2vw;
	height: 5.8vh;
	flex-shrink: 0;
	position: absolute; /* Position absolue pour positionner la flèche */
	top: 50%; /* Ajustez la position verticale selon vos besoins */
	right: 1.3vw; /* Ajustez la position horizontale selon vos besoins */
	transform: translateY(-50%); /* Pour centrer verticalement la flèche */
	z-index: 2; /* Pour placer la flèche au-dessus des miniatures */
	cursor: pointer;
}

.boxDeco{
	display: flex;
	flex-direction: column;
}

.username{
	margin: 0;
}