/* Styles de texte */

.cardInfo,
.cardInfoWithoutTitle {
    margin: 0;
    font-family: Nunito, sans-serif;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.titleFilm {
    font-size: 30px;
    font-family: Nunito, sans-serif;
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}

/* Styles des éléments */

.contentDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5vw;
}

.cardDiv {
    width: 18.75vw;
    max-width: 18.75vw;
    margin-bottom: 20px;
}

.cardPic {
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    border: 1px solid #171717;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vw; /* Ajustez cette valeur selon vos besoins */
    object-fit: cover;
}

/* Autres styles */

.link_style {
    text-decoration: none;
    color: #333;
}

/* Media Query pour les écrans plus petits si nécessaire */
@media (max-width: 768px) {
    .cardDiv {
        width: 100%;
        max-width: none;
    }
}


.nofilmText {
    color: #FFF;
    font-family: Nunito;
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    margin: 0px;
}

.nofilmDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20vh;
    text-align: center; /* Ajout de cette propriété pour centrer horizontalement le texte */
}
