.link_style {
    text-decoration: none;
}

.titleFilm {
    font-size: 30px;
    font-family: Nunito, sans-serif;
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p{
    margin : 0;
    font-family: Nunito, sans-serif;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.cardPic {
    object-position: center;
    border-radius: 15px;
    border: 1px solid #171717;
    width: 115px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsFlex {
    display: flex;
    flex-direction: column;
    background: linear-gradient(183deg, rgba(55, 37, 72, 0.95) -5.36%, #000 108.29%);
    gap: 50px;
    border-radius: 15px;
    padding : 15px 25px;
}
.cardFlex {
    display: flex;
    flex-direction: row;
    gap: 50px;
}